astroid==2.8.0
autopep8==1.5.7
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
colorama==0.4.4
cx-Oracle==8.1.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-WTF==0.14.3
isort==5.9.3
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
platformdirs==2.4.0
pycodestyle==2.7.0
pycparser==2.20
pylint==2.11.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
waitress==2.0.0
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
