{% extends "layoutBase.html.j2" %}

{% block content %}
{% if data and data['docDetails'] %}
{# <p>{{ data.docDetails|safe }}</p> #}
<table id="displayTable" class="display table table-bordered table-responsive w-auto">
    <thead>
        
        <tr>
            <th>Id</th>
            <th>Regulation Name</th>
            <th>Reg Type</th>
            <th>Amendment No</th>
            <th>Notification Date</th>
            <th>Effective Date</th>
            <th>Repeal Date</th>
            <th> KeyWords Admin</th>
            <th>Doc Ref No</th>
            <th>Pdf File Name</th>
            <th>Cerc Site Pdf Link</th>
            <th>Actions</th>
        </tr>
    </thead>    
    <tbody>
        {% for item in data['docDetails'] %}
        <tr class="{{item.cssClass}}">
            <td>{{item.id}}</td>
            <td>{{item.regulation_name}}</td>
            <td>{{item.reg_type}}</td>
            <td>{{item.amendment_no}}</td>
            <td>{{item.notification_date}}</td>
            <td>{{item.effective_date}}</td>
            <td>{{item.repeal_date }}</td>
            <td>{{item.keyWords_admin}}</td>
            <td>{{item.doc_ref_no}}</td>
            <td><a href="{{ url_for('docs.downloadDocument', req_path=item.pdf_file_name) }}">
                {{ item.pdf_file_name}}
            </a></td>
            
            <td>{{item.cerc_Site_pdf_link}}</td>
            <td style="max-width:2em;">
                <a href="{{ url_for('docs.list', codeId=item.id) }}">Edit</a>
                <span>|</span>
                <a href="{{ url_for('docs.list', codeId=item.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Regulation Name</th>
            <th>Reg Type</th>
            <th>Amendment No</th>
            <th>Notification Date</th>
            <th>Effective Date</th>
            <th>Repeal Date</th>
            <th> KeyWords Admin</th>
            <th>Doc Ref No</th>
            <th>Pdf File Name</th>
            <th>Cerc Site Pdf Link</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>
{% endif %}

{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/fixedHeader.dataTables.min.css') }}">
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>

<script src="{{ url_for('static', filename='index.js') }}"></script>
<style>
    thead input {
        padding: 2px;
        box-sizing: border-box;
        font-size: small;
        width: 100%;
    }
</style>
{% endblock %}